* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  scroll-behavior: smooth;
  background-color: #fff;
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo span {
  color: #007bff;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  margin-left: 2rem;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #007bff;
}

/* hamburger */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s ease;
}

/* hero*/
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f4f7f6;
  padding: 0 5%;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.highlight {
  color: #007bff;
}

/* about */
.about {
  padding: 5rem 10%;
  background: #fff;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.about-img {
  flex: 1;
  min-width: 300px;
}
.about-img img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 0px #007bff;
}

.about-text {
  flex: 1;
  min-width: 300px;
}
.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* projects */
.projects {
  padding: 5rem 10%;
  background-color: #f9f9f9;
}
.projects h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.card-img {
  height: 180px;
  background: #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* contact */
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit), minmax(350px, 1fr);
  padding: 5rem 10%;
  text-align: center;
}

.contact-form {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #ededed;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2 ease-in-out;
}

.btn-submit:hover {
  background: #007bff;
}

/* responsiv nav */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    padding-top: 80px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    left: 0;
  }
  .nav-links li {
    margin: 1.5rem 0;
  }
  .nav-links li a {
    margin-left: 0;
    font-size: 1.2rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hero h1 {
    font-size: 2.2rem;
  }
  .about-container {
    text-align: center;
  }
}
